.btn {
  padding: 10px;
  cursor: pointer;

  border: none;
  outline: none;
  border-radius: 3px;

  background: transparent;
  font-family: $primary-font;
  transition: box-shadow 125ms ease-in-out;

  &--inline {
    color: $primary-color;
  }

  &--primary {
    color: $white;
    background: $primary-color;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($primary-color, .6);
  }

  &.m-r { margin-right: 8px; }
  &.m-l { margin-left: 8px; }
}

a.btn {
  text-decoration: none;
}
