.app-footer {
  min-height: 142px;
  background: url(../images/footer_bg.png) repeat-x center/contain;
  background-position-y: bottom;
}

.app-last-visit {
  font-size: 1em;
  display: block;
  text-align: right;
  font-family: monospace;
}
