html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  color: $text-color;
  background: $white;
  font-family: $primary-font;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.t-center {
  text-align: center;
}

.m-t { margin-top: 1em; }
.m-r { margin-right: 8px; }
.m-l { margin-left: 8px; }

.flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-full {
  flex: 1;
}

.app-main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin-top: 60px;
}

.app-content-wrapper {
  flex: 1;

  &__content {
    width: 100%;
    margin: 0 auto;
    max-width: 575px;
  }
}

.page-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 40px;
}

.page-welcome {

  &__cities-container {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
  }
}

.page-login,
.page-register {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .alert {
    margin-bottom: 20px;
  }

  &__form {
    max-width: 250px;

    > * {
      display: block;
      margin-bottom: 1.5em;
    }

    > .btn { margin: 20px 0 0 0; }
  }
}

.page-sale,
.page-order {
  .alert {
    margin-bottom: 1.5em;
  }
}

.page-order {
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-control {
    margin: 0 auto 1.5em auto;
  }

  &__form > .products {
    margin-bottom: 1.5em;
  }

  &__form .btn {
    max-width: 250px;
  }
}
