.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 33px;
}

.app-logo {
  width: 150px;
  height: 40px;

  background: url(../images/logo.png) no-repeat center;
  background-size: contain;
}
