$red-500: #F44336;

$blue-a400: #2979FF;

$green-500: #4CAF50;

$amber-500: #FFC107;

$gray-400: #BDBDBD;
$gray-600: #757575;

$white: #fff;
$black: #000;

$text-color: $gray-600;
$primary-color: $blue-a400;
$primary-font: 'Varela Round', sans-serif;
